<mat-toolbar>
    <span>{{service.form.controls['$key'].value?"Modifier réunion" : "Ajouter un nouveau réunion"}}</span>
    <span class="spacer"></span>
    <button class="delete closeDialog" (click)="onClear()" tabindex="-1"></button>
</mat-toolbar>

<form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="controls-container">

                <!--key-->
                <input formControlName="$key" type="hidden">

                <!--titre-->
                <mat-form-field appearance="fill">
                    <mat-label>Titre</mat-label>
                    <input formControlName="Titre" matInput placeholder="Titre .." required>
                    <mat-error>Ce champ est obligatoire</mat-error>
                </mat-form-field>

                <!--objet-->
                <mat-form-field class="objet" appearance="fill">
                    <mat-label>Objet</mat-label>
                    <input matInput formControlName="objet" placeholder="objet de réunion " required/>
                    <mat-error *ngIf="service.form.controls['objet'].errors?.required">Ce champ est obligatoire</mat-error>
                    <mat-error *ngIf="service.form.controls['objet'].errors?.minLength">Minimum 3 charatères</mat-error>
                </mat-form-field>

                <!--date de debut-->
                <mat-form-field class="date" appearance="fill">
                    <mat-label>Date de début</mat-label>
                    <input matInput [matDatepicker]="startDate" formControlName="Date_debut" placeholder="mm/dd/yyyy" required>
                    <mat-error>Ce champ est obligatoire</mat-error>
                    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                    <mat-datepicker #startDate></mat-datepicker>
                </mat-form-field>

                <!--date de fin-->

                <mat-form-field class="date" appearance="fill">
                    <mat-label>Date de fin</mat-label>
                    <input matInput formControlName="Date_fin" [matDatepicker]="EndDate" placeholder="mm/dd/yyyy" required>
                    <mat-error>Ce champ est obligatoire</mat-error>
                    <mat-datepicker-toggle matSuffix [for]="EndDate"></mat-datepicker-toggle>
                    <mat-datepicker #EndDate></mat-datepicker>
                </mat-form-field>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>

            <div class="controls-container">
                <!--location-->
                <mat-form-field class="location" appearance="fill">
                    <mat-label>Location</mat-label>
                    <input formControlName="location" matInput placeholder="estm meknes route agourai ">
                </mat-form-field>

                <!--les participants-->

                <mat-form-field appearance="fill">
                    <mat-label>Les participants</mat-label>
                    <textarea matInput formControlName="participants" rows="4"></textarea>
                </mat-form-field>

                <div class="buttons">
                    <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">{{service.form.controls['$key'].value?"Modifier" : "Ajouter"}}</button>
                    <button mat-raised-button color="warn" (click)="onClear()">Annuler</button>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>