<mat-card>
    <mat-card-header>
        <mat-card-title>Ajouter une réunion</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <!--Titre-->
        <mat-form-field class="titre">
            <mat-label>Titre</mat-label>
            <input matInput placeholder="ajouter une titre de réunion" required/>        
        </mat-form-field>

        <div style="display: flex;">
          
        <!--date de debut-->
        <mat-form-field class="date">
            <mat-label>Date de début</mat-label>
            <input matInput [matDatepicker]="startDate" placeholder="mm/dd/yyyy" required>
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
          </mat-form-field>

        <!--temps de debut-->
          <mat-form-field class="time">
            <mat-label>Temps de début</mat-label>
            <input matInput [ngxTimepicker]="Starttime" >
            <ngx-material-timepicker #Starttime></ngx-material-timepicker>
          </mat-form-field>
        </div>

        <div style="display: flex;">
          
        <!--date de fin-->
        <mat-form-field class="date">
          <mat-label>Date de fin</mat-label>
          <input matInput [matDatepicker]="EndDate" placeholder="mm/dd/yyyy" required>
          <mat-datepicker-toggle matSuffix [for]="EndDate"></mat-datepicker-toggle>
          <mat-datepicker #EndDate></mat-datepicker>
        </mat-form-field>
        <!--temps de fin-->
        <mat-form-field class="time">
          <mat-label>Temps de fin</mat-label>
          <input matInput [ngxTimepicker]="EndTime" >
          <ngx-material-timepicker #EndTime></ngx-material-timepicker>
        </mat-form-field>
      </div>

      <mat-form-field class="location">
        <mat-label>Location</mat-label>
        <input matInput placeholder="estm meknes route agourai ">
      </mat-form-field>
      
      


    </mat-card-content>
</mat-card>