.mat-form-field {
    margin-top: 20px;
    margin-left: 10px;
}
.mat-dialog-actions {
    height: 100px;
}


.dateTime {
        display: flex;
}

.titre ,.objet,.participant,.location {
    
    width : 95%;
    margin-left: 10px;
}


.date , .time  {
    margin-left: 10px !important;
    width: 45%;
}

  