.mat-form-field {
    margin-top: 20px;
    margin-left: 10px;
}
.mat-dialog-actions {
    height: 100px;
}
.titre ,.objet,.participant,.location {
    
    width : 95%;
    margin-left: 10px;
}

.date , .time  {
    width : 45%;
    margin-left: 10px;
}


