<section>
    <div class="columns is-marginless section is-gapless">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <div class="image is-64x64 is-hidden-touch" style="background-color: #d1f3e0;">
                        <p class="FontIcon" style="padding-left: 17px !important;"> <i class="fas fa-user-graduate fa-2x"></i> </p>
                    </div>
                    <div class="has-text-centered">
                        <p class="heading">Etudiants</p>
                        <p class="title">6000</p>
                    </div>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <div class="image is-64x64 is-hidden-touch" style="background-color:#e1f1ff;">
                        <p class="FontIcon"> <i class="fas fa-users fa-2x"></i> </p>
                    </div>
                    <div class="has-text-centered">
                        <p class="heading">Professeurs</p>
                        <p class="title">200</p>
                    </div>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <div class="image is-64x64 is-hidden-touch" style="background-color : #ffeaea">
                        <p class="FontIcon" style="padding-left: 17px !important;"><i class="fas fa-user-tie fa-2x"></i> </p>
                    </div>
                    <div class="has-text-centered">
                        <p class="heading">Membres</p>
                        <p class="title">27</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<section>
    <event-card></event-card>
</section>
<section>
    <users-table-card></users-table-card>
</section>