.image {
    border-radius: 100%;
    border: 1px solid #cccccc;
    float: left;
}

.FontIcon {
    padding: 10px 10px 10px 10px !important;
}

.fa-users {
    color: #3f7afc;
}

.fa-money-bill-alt {
    color: #ff0000;
}

.fa-user-graduate {
    color: #3cb878;
}