<div class="columns is-marginless">
  <section class="column is-three-fifths section">
    <div class="card" style="height: 100%">
      <div class="card-header" style="border-bottom: 1px solid #a6a6a6">
        <div class="card-header-title">
          <h1>Events</h1>
        </div>
      </div>
      <div class="card-content">
        There's no event on {{selectedDate | date}}
      </div>
    </div>
  </section>
  <section class="column section">
    <mat-calendar
      class="card"
      style="background-color: white"
      [selected]="selectedDate"
      (selectedChange)="onSelect($event)">
    </mat-calendar>
  </section>
</div>
<mat-card>
  <div class="card-header" style="border-bottom: 1px solid #a6a6a6">
    <mat-card-title>Users</mat-card-title>
  </div>
  <mat-card-content>
    <app-user-card></app-user-card>
  </mat-card-content>
</mat-card>
