<!--
	# it's just a test of the Developper Mounir
-->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar [style.height]="'' + toolbar._elementRef.nativeElement.offsetHeight+ 'px'" color="primary">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </mat-toolbar>
    <mat-nav-list style="align-content: stretch;">
      <a class="padding" mat-list-item>
        <span class="text-icon">
          <mat-icon>account_circle</mat-icon>
          <span>
            Membres
          </span>
        </span>
      </a>
      <mat-divider></mat-divider>
      <a class="padding" mat-list-item>
        <span class="text-icon">
          <mat-icon>event</mat-icon>
          <span>Calendrier</span>
        </span>
      </a>
      <mat-divider></mat-divider>
      <div>
        <collapse>
          <collapse-title>
            <span class="text-icon">
              <mat-icon>email</mat-icon>
              <span>Boite de Messagerie</span>
            </span>
          </collapse-title>
          <collapse-content>
            <a mat-list-item>
              <span class="text-icon">
                <mat-icon>send</mat-icon>
                <span>Envoyé</span>
              </span>
            </a>
            <a mat-list-item>
              <span class="text-icon">
                <mat-icon>done</mat-icon>
                <span>Reçu</span>
              </span>
            </a>
          </collapse-content>
        </collapse>
      </div>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="background-color: #eaeef3;">
    <mat-toolbar #toolbar color="primary" style="overflow: auto;">
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
          <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
        </button>
        <div class="search-bar">
          <mat-form-field #f [style.width]="width(f._elementRef.nativeElement)" appearance="outline">
            <mat-label>Search</mat-label>
            <input type="search" matInput [(ngModel)]="value">
            <div matSuffix class="is-flex">
              <button *ngIf="value" (click)="value = ''" title="clear" @showHide
                      mat-button mat-icon-button
                      style="background-color: rgba(200, 200, 200, 0.3);" class="is-rounded">
                <mat-icon>clear</mat-icon>
              </button>
              <div style="padding: 0 5px;"></div>
              <button mat-button mat-icon-button class="pulse is-rounded">
                <mat-icon>search</mat-icon>
              </button>
            </div>
          </mat-form-field>
        </div>
        <div class="image is-64x64 is-hidden-touch">
          <img src="https://www.w3schools.com/howto/img_avatar.png"
               style="border-radius: 100%; border: 1px solid #b5b5b5;">
        </div>
        <div class="actions">
          <button mat-button mat-icon-button [class.pulse]="hasNewNotifications">
            <mat-icon [matBadge]="'1'" matBadgeColor="accent" [matBadgeHidden]="! hasNewNotifications">
              notifications
            </mat-icon>
          </button>
          <button mat-button mat-icon-button [class.pulse]="hasNewMails">
            <mat-icon [matBadge]="'1'" matBadgeColor="accent" [matBadgeHidden]="! hasNewMails">email
            </mat-icon>
          </button>
          <button mat-button mat-icon-button>
            <mat-icon>help</mat-icon>
          </button>

          <button mat-button mat-icon-button>
            <mat-icon>exit_to_app</mat-icon>
          </button>

        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <!-- Add Content Here -->

    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
