.mat-form-field {
    margin-right: 20px;
    margin-top: 20px;
  }
.control {
     float : right;
     margin-top: 20px;
     margin-right: 30px;
}
.mat-button {
    width : 50px;
    height: 50px;
}