@import "~@angular/material/theming";
$color: mat-color($mat-light-green, A400);

.collapse-wrapper {
  cursor: pointer;

  .collapse-title {
    display: flex;
    justify-content: space-between;
    min-height: 48px;
    align-items: center;
  }

  .collapse-content {
    padding-left: 16px;
    border-left: 3px solid #ceff11;
    border-bottom: 1px solid #a0a0a0;
  }
}

.expanded {
  &>.collapse-title {
    background-color: wheat;
    font-size: larger;
  }
}
