/* You can add global styles to this file, and also import other style files */
/*@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,500i,600,600i,700,700i,800,800i&display=swap');*/
@import "assets/bulma/sass/utilities/all";
@import "assets/bulma/sass/base/helpers";
@import "assets/bulma/sass/grid/columns";
@import "assets/bulma/sass/elements/title";
@import "assets/bulma/sass/elements/image";


/*********** Config My Theme for Angular Material Components ************/
@import '../node_modules/@angular/material/theming';
/*********** Config Primary/Accent Color for Site ************/
$primary: map_get($mat-indigo, A400);
$accent: map_get($mat-pink, A400);
@include mat-core(mat-typography-config($font-family: 'Montserrat , sans serif'));
$candy-app-primary: mat-palette($mat-indigo, A200, A100, A400);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);
$candy-app-warn: mat-palette($mat-red);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
@include angular-material-theme($candy-app-theme);
/*********************************/

html, body {height: 100%;}

.primary {
  &.color {
    color: $primary;
  }
  background-color: $primary !important;
  color: white;
}

.accent {
  &.color {
    color: $accent;
  }
  background-color: $accent !important;
  color: white;
}

*:not(mat-icon) {margin: 0; font-family: Montserrat, sans-serif !important;}
* {font-size: 16px;}
.padding {padding: .2rem .5rem;}

mat-toolbar-row {
  height: auto !important;
  &, & > div {
    @extend .padding;
  }
}

button {
  text-transform: uppercase;
  &.no-up {
    text-transform: none;
  }
}

.actions {
  display: flex;
  flex-wrap: nowrap;
  button {
    &:not(:first-child) {margin-left: 14px !important;}
    &:not(:last-child) {margin-right: 14px !important;}
  }
}

.pulse {
  border-radius: 100%;
  background-color: rgba(200, 200, 200, 0.3);
  box-shadow: 0 0 0 rgba(255,255,255, 0.4);
  animation: pulse 2s infinite;
  &:hover {animation: none;}
}

@mixin animation($name, $radius: 15px){
  @keyframes #{$name} {
    0% {box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);}
    100% {box-shadow: 0 0 0 $radius rgba(0, 0, 0, 0);}
  }
}

@include animation(pulse);
