<div class="card" style="margin: 3px 12px; display: inline-block; max-width: 200px">
  <div class="card-header">
    <div class="card-header-title">
      <mat-icon>person</mat-icon>
      <span>User 1</span>
    </div>
    <div class="card-header-icon is-paddingless">
      <button mat-icon-button title="Consult"><mat-icon>edit</mat-icon></button>
    </div>
  </div>
  <div class="card-image">
    <img style="width: 100%; height: 100%;" src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar">
  </div>
  <div class="card-content">
    User information
  </div>
</div>
