<section style="position:relative;">
    <div class="columns is-marginless section is-gapless">
        <div class="column">
            <div class="columns">
                <div class="column">
                    <mat-form-field appearance="outline" style="width: 100%">
                        <mat-label>Recherche</mat-label>
                        <input [(ngModel)]="searchWord" matInput pattern="[-a-zâ ]*" placeholder="Rechercher un membre">
                        <div matSuffix>
                            <mat-icon>search</mat-icon>
                        </div>
                        <mat-error>Entrer un nom valid s'il vous plait !</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <ng-container *ngIf="((memberSrv.ALL_MEMBERS | async) | filter: Loi: searchWord.toUpperCase()) as array">
                <article id="loi" class="card" *ngIf="array.length > 0">
                    <header class="card-header">
                        <div class="card-header-title">Membres par loi</div>
                        <div class="card-header-icon">
                            <button mat-raised-button mat-icon-button color="accent" (click)="add(Loi)">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </header>
                    <div class="card-content columns" style="flex-wrap: wrap">
                        <app-member class="column" *ngFor="let member of array" [member]="member">
                            <img class="image" src="https://www.w3schools.com/howto/img_avatar.png">
                            <div class="name">
                                <div>{{ member.nom }}</div>
                                <div>{{ member.prenom }}</div>
                            </div>
                        </app-member>
                    </div>
                </article>
            </ng-container>

            <ng-container *ngIf="((memberSrv.ALL_MEMBERS | async) | filter: Design: searchWord.toUpperCase()) as array">
                <article id="designe" class="card" *ngIf="array.length > 0">
                    <header class="card-header">
                        <div class="card-header-title">Membres désignés</div>
                        <div class="card-header-icon">
                            <button mat-raised-button mat-icon-button color="accent">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </header>
                    <div class="card-content columns" style="flex-wrap: wrap">
                        <app-member class="column" *ngFor="let member of array" [member]="member">
                            <img class="image" src="https://www.w3schools.com/howto/img_avatar.png">
                            <div class="name">
                                <div>{{ member.nom }}</div>
                                <div>{{ member.prenom }}</div>
                            </div>
                        </app-member>
                    </div>
                </article>
            </ng-container>

            <ng-container *ngIf="((memberSrv.ALL_MEMBERS | async) | filter : Elu : searchWord.toUpperCase()) as array">
                <article id="elu" class="card" *ngIf="array.length > 0">
                    <header class="card-header">
                        <div class="card-header-title">Membres Elus</div>
                        <div class="card-header-icon">
                            <button mat-raised-button mat-icon-button color="accent">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </header>
                    <div class="card-content columns" style="flex-wrap: wrap">
                        <app-member class="column" *ngFor="let member of array" [member]="member">
                            <img class="image" src="https://www.w3schools.com/howto/img_avatar.png">
                            <div class="name">
                                <div>{{ member.nom }}</div>
                                <div>{{ member.prenom }}</div>
                            </div>
                        </app-member>
                    </div>
                </article>
            </ng-container>
        </div>
    </div>
    <div style="position: fixed; bottom: 90px; right: 60px">
        <button mat-icon-button mat-raised-button color="accent" style="transform: scale(1.5);"
                class="pulse" (click)="add()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</section>
